<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>30823807626-7qgm7cno6tq6i2ktsacmgs2qj0iadkd0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.30823807626-7qgm7cno6tq6i2ktsacmgs2qj0iadkd0</string>
	<key>API_KEY</key>
	<string>AIzaSyDcacZ8ExNidGu6w9EksLrlVv1QWCUElXw</string>
	<key>GCM_SENDER_ID</key>
	<string>30823807626</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wyattbai.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-caht-7f990</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-caht-7f990.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:30823807626:ios:ecc609d3aec1976c34cb73</string>
</dict>
</plist>